
html
{
	background-color: #DCDCDC;
}

header
{
	background-color:#FFEFD5;
	background-image: url(../images/pre.jpeg);
	background-size: 175px;
}

header a
{
	color:white;
}

header:hover
{
	background-image: url(../images/essai.png);
	transition: 1s;
}

h1
{
	color: white;
}

h2:hover
{
	background-color:skyblue ;
	transition:  1s steps(3, end);
}

h3
{
	border: double skyblue  20px ;
}

footer
{
	background-color: skyblue;
	height: 110px;
}

/*CLASSES*/
.menu h3,.menu a
{
	background-color: skyblue;
}

.menu .categorie:hover h3
{
	background-color: skyblue;
}

.mosaique
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	padding: 25px;
}

.mosaique img
{
	width: 500px;
	height: 200px;
	transition: 3s;
}

.mosaique
{
	display: grid;
	grid-template-columns:1fr 1fr 1fr  ;
}

.mosaique img
{
	width: 300px;
}

.mosaique figure:nth-of-type(2n+1):hover
{
	width: 400px;
	transform: scale(2.05);
}

.mosaique figure:nth-of-type(2n):hover
{
	background-color: skyblue;
	transform: rotate(360deg);
	transition: 2s;
}

/*ADAPTATIVITÉ*/
@media(max-width: 1000px)
{


	.mosaique img
		{
			width: 150px;
		}
	.mosaique figure:nth-of-type(2n+1):hover
		{
			width: 110px;
			transform: scale(2.05);
		}

}